.wrapper {
  /* --bs-gutter-x: 400px;  */
}

.divider {
  height: 1px;
  background: rgba(255, 255, 255, 0.06);
}


/* كل Tab كبسولة */
.tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.06);
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: 0.2s ease;
}

.tab:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.06);
}

/* Active (البرتقالي) */
.active {
  background: linear-gradient(135deg,#ff7118,#F74D00) !important;
  color: white !important;
  padding: 10px 20px;
}

/* Search box */
/* .searchBox {
  position: relative;
  width: 320px;
  max-width: 40vw;
} */

.searchInput {
  width: 100%;
  padding: 12px 14px 12px 42px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.06);
  color: rgba(255, 255, 255, 0.85);
  outline: none;
}

.searchInput::placeholder {
  color: rgba(255, 255, 255, 0.45);
}

.searchIcon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}
.searchBox {
  width: 100%;
}
