.transparentOrangeButton{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ff6500; /* Orange border */
    background-color: #ff7e2911; /* Transparent background */
    color: #ff6500; /* Orange text */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}